@charset "utf-8";


body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    color: #333333;
    font-size: 15px;
    line-height: 2;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    background-image: url(../images/bg-body.jpg);
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0
}

img {
    vertical-align: bottom;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: #ff9891;
    text-decoration: none;
}

a:visited {
    color: #635846;
}

a:hover {
    text-decoration: underline;
}

header {
    width: 960px;
    height: 170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.global-nav {
    display: flex;
    justify-content: space-between;
}

.global-nav li {
    margin: 0 20px;
    font-size: 18px;
    list-style: none;
}

.global-nav li a {
    color: #ffffff;
}

.global-nav li a:hover {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 8px;
    text-decoration: none;
}



footer {
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
}

footer small {
    font-size: 12px;
}


/* ------ フルスクリーンページここから ------ */

#top h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 95px;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
    margin: 100px 0 40px 0;
}

#top p {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.btn {
    background-color: #ff9891;
    color: #fff;
    font-size: 20px;
    width: 200px;
    display: block;
    margin: 20px auto;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #ff9891;
}

.btn:hover {
    text-decoration: none;
    background-color: #fff;
    color: #ff9891;
}

#top footer {
    margin-top: 200px;
}

#top {
    height: 100%;
    background-image: url(../images/bg-top.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/* ------ 2カラムページここから ------ */

.two-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.contents-area, .side-area {
    background-color: #fdfbf8;
    padding: 20px 40px;
    border-radius: 10px;
    box-sizing: border-box;
}

.contents-area {
    width: 680px;
}

.side-area {
    width: 240px;
}

.contents-area a img:hover {
    opacity: 0.8;
}

h1 {
    font-size: 30px;
    margin: 10px 0 10px;
}

h2 {
    font-size: 18px;
    margin: 20px 0 10px;
}

.side-area ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

.side-area ul a {
    color: #333333;
}

footer {
    margin-top: 20px;
}

/* ------ グリッドページここから ------ */

.grid-outer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grid-inner {
    width: 30%;
    margin-bottom: 25px;
}

.grid-inner img {
    max-width: 100%;
}

/* ------ お問い合わせページここから ------ */

.one-column .contents-area {
    width: 100%;
}

.access .access-inner {
    display: flex;
    justify-content: space-between;
}

.access th,
.access td {
    text-align: left;
    vertical-align: top;
    line-height: 2.5;
}

.access td {
    padding: 0 20px;
}

.form {
    background-color: #eaeaea;
    padding: 20px 50px;
    margin: 40px 0;
}

.form dl {
    display: flex;
    flex-wrap: wrap
}

.form dl dt {
    width: 25%;
    padding: 10px 0;
}

.form dl dd {
    width: 75%;
    padding: 10px 0;
    margin: 0;
}

.form .name {
    width: 240px;
    height: 30px;
}

.form .email {
    width: 320px;
    height: 30px;
}

.form .tel {
    width: 240px;
    height: 30px;
}

.form .message {
    width: 560px;
    height: 150px;
}

.form button {
    margin: 0 0 30px 25%;
}

.form .required:after {
    content: "*";
    color: #ff0000;
    margin: 0 5px;
}

/* ------ 画面サイズが600px以下の場合に適用 ------ */

@media screen and (max-width: 600px) {
    
    body {
        font-size: 3.5vw;
    }
    
    h1 {
        font-size: 7.2vw;
    }

    h2 {
        font-size: 6vw;
    }
    
    header {
        width: auto;
        height: 230px;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .logo {
        margin-top: 20px;
    }
    
    
    .contents-area,
    .side-area {
        width: 100%;
        padding: 15px 25px;
    }
    
    .contents-area img {
        max-width: 100%;
    }
    
    .contents-area {
        margin-bottom: 20px;
    }
}.TextTyping span {
	display: none;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
 	content: "|";
	animation: typinganime .8s ease infinite;
}

@keyframes typinganime{
	from{opacity:0}
	to{opacity:1}
}
.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
